.abc-hp-main {
  .abc-part-title {
    color: var(--light-gray);
    font-size: 2.75rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
  }
  .abc-hp-bg {
    position: relative;
    padding-top: 30px;

    &::before {
      content: "";
      position: absolute;
      top: 0px;
      right: 0;
      width: 100%;
      height: 100%;
      background-image: url("../assets/images/homepage/homepageAboutBg.png");
      background-size: cover;
      background-position: center;
      opacity: 0.05;
      z-index: 0;
      pointer-events: none;
    }
  }

  .abc-line {
    display: inline-block;
    width: 40px;
    height: 4px;
    border-radius: 5px;
    background-color: var(--light-gray);
    position: relative;

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      top: -3px;
      background-color: var(--light-gray);
    }

    &::after {
      content: "";
      position: absolute;
      left: 120%;
      display: inline-block;
      width: 30px;
      height: 4px;
      background-color: var(--light-gray);
    }
  }
  .abc-about {
    margin-bottom: 50px;
    .abc-about-content-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 5%;
      width: 100%;
      height: 100%;
      padding-bottom: 30px;

      .abc-about-content {
        width: 63%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 20px;

        .abc-about-list {
          font-size: 20px;
          color: var(--light-gray);
        }

        .abc-about-values-container {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 30px;
          padding: 20px 30px;
          color: var(--light-gray);
          border: 2px solid #fff;
          color: var(--light-gray);
          border-radius: 50px;
          border-top-left-radius: 0;
          border-bottom-right-radius: 0;
          position: relative;
          overflow: hidden;
          background-color: #fff;

          &::before {
            content: "";
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background-image: url("../assets/images/homepage/hpAbout3.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            opacity: 0.3;
            z-index: 0;
          }

          .abc-value-container {
            width: 30%;
            position: relative;
            color: #fff;

            & > .abc-value-container-inner {
              width: 100%;
              aspect-ratio: 1 / 1;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              gap: 15px;
              font-size: 1.75rem;
              overflow: hidden;
              align-items: center;
              justify-content: center;
              border-radius: 10px;

              .abc-icon-container {
                border: 2px solid #fff;
                padding: 25px;
                border-radius: 50%;
                width: 90px;
                aspect-ratio: 1 / 1;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                  background-color: #fff;
                  color: var(--light-gray);
                  transition: all 0.3s ease-in-out;
                }
                & > i {
                  font-size: 2rem;
                }
              }

              & > h6 {
                font-family: "PT Serif", serif;
              }
            }
          }
        }
      }

      .abc-about-image {
        width: 32%;
        border: 1px solid #fff;

        img {
          display: inline-block;
          width: 100%;
          border-bottom-right-radius: 75px;
          border-top-left-radius: 75px;
        }
      }
    }
  }

  .abc-hp-service {
    padding-bottom: 30px;

    .abc-services-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      width: 100%;
      flex-wrap: wrap;
      margin: 20px 0 30px 0;
      position: relative;

      .abc-hp-service-each {
        width: calc((100% - 60px) / 4);
        height: 150px;
        min-width: 150px;
        border: 1px solid var(--main-gray);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
      }

      .abc-hp-service-each {
        transition: all 1s ease;

        &:hover {
          background-color: #ffffff61 !important;
          background-image: none !important;
          transition: all 1 ease;

          .abc-hp-service-title {
            transition: all 1s ease;

            font-size: 1.75rem;
          }
        }
      }

      .abc-hp-service-each:nth-of-type(1) {
        background-image: url("../assets/images/homepage/service1.jpg");
      }

      .abc-hp-service-each:nth-of-type(2) {
        background-image: url("../assets/images/homepage/service2.jpg");
      }

      .abc-hp-service-each:nth-of-type(3) {
        background-image: url("../assets/images/homepage/service3.jpg");
      }

      .abc-hp-service-each:nth-of-type(4) {
        background-image: url("../assets/images/homepage/service4.jpg");
      }

      .abc-hp-service-title {
        font-size: 1.5rem;
        text-align: center;
        font-weight: 500;
        padding: 10px 20px;
        border-radius: 15px;
        color: black;
        padding: 0.5rem 1rem;
        border-radius: 10px;
        color: #fff;
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(2px);
        padding: 0.5rem 1rem;
        border-radius: 12px;
      }
    }
  }
  .abc-direction-button {
    margin: 0 auto;
    width: fit-content;
    max-width: 90%;
    font-size: 1.5rem;
    color: var(--light-gray);

    & > .abc-direction-button-inner {
      width: 100%;
      height: 100%;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      font-size: 1.5rem;
      padding: 10px 30px;
      color: var(--light-gray);
      border-radius: 999px;
      background-color: var(--light-gray);
      border: 2px solid var(--light-gray);
      color: #fff;
      text-align: center;

      i {
        transform: rotate(-45deg);
        transition: all 0.3s ease-in-out  ;
}

      &:hover {
        color: var(--light-gray);
        border-radius: 25px;

        background-color: #fff;
        transition: all 0.3s ease-in-out;

        
      i {
        transform: rotate(0deg);
        transition: all 0.3s ease-in-out  ;
      }
      }
    }
  }

  .abc-hp-team {
    padding-bottom: 50px;
  }

  .abc-team-small-heading {
    position: relative;
    margin-top: 30px;
    font-size: 0.75rem;
    line-height: 0.75rem;
    color: var(--light-gray);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    width: fit-content;
    margin: 30px auto 0 auto;

    &::before {
      content: "";
      position: absolute;
      display: inline-block;
      width: 50px;
      height: 2px;
      background-color: var(--light-gray);
      left: -60px;
      top: calc(50% - 1px);
    }

    &::after {
      content: "";
      position: absolute;
      display: inline-block;
      width: 50px;
      height: 2px;
      background-color: var(--light-gray);
      right: -60px;
      top: calc(50% - 1px);
    }
  }

  .abc-team-mail-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .abc-hp-news {
    padding-bottom: 30px;
  }

  @media screen and (max-width: 1240px) {
    .abc-about-content-container {
      .abc-about-image {
        width: 40%;
      }
    }

    .abc-about-values-container {
      padding: 10px 30px !important;
    }

    .abc-about-image {
      height: 100% !important;
    }
  }

  @media screen and (max-width: 940px) {
    .abc-about-content-container {
      width: 100%;

      .abc-about-content {
        width: 100% !important;
      }
    }

    .abc-about-content li {
      list-style: none;
    }
    .abc-about-image {
      display: none;
    }

    .abc-about-values-container {
      min-height: 175px;
    }

    .abc-services-container {
      flex-wrap: wrap;
      justify-content: center !important;
      max-width: 90% !important;
      margin: auto !important;
      margin-bottom: 30px !important;

      .abc-hp-service {
        min-width: 280px !important;
      }
    }
  }

  @media screen and (max-width: 750px) {
    .abc-about-content-container {
      .abc-about-image {
        width: 50%;
      }
    }

    .abc-value-container {
      min-width: 150px;
    }

    .abc-about-content {
      align-items: center !important;
    }

    .abc-line {
      margin-left: -60px;
      &::after {
        width: 40px;
      }

      &::before {
        right: -10px;
      }
    }

    .abc-about-content li {
      margin-bottom: 10px;
    }

    .abc-about-content li,
    .abc-part-title {
      text-align: center;
    }

    .abc-part-title {
      font-size: 2rem;
      margin-bottom: 25px;
    }
  }

  @media screen and (max-width: 550px) {
    .abc-about-values-container {
      flex-wrap: wrap;
    }

    .abc-direction-button-inner {
      font-size: 1.2rem !important;
    }
  }

  @media screen and (max-width: 400px) {
    .abc-services-container .abc-hp-service {
      min-width: 90% !important;
    }
  }
}
